* {
        margin: 0;
        padding: 0;
    }
    
    body {
        margin: 0 auto;
        font: 16px/28px;
        width: 1270px;
        background-color: aquamarine;
        background-repeat: no-repeat;
        background-position: top center;
    }
    h1 {
        display: inline-flex;
        margin: 0 auto;
        height: 60px;
        width: 1270px;
        padding: 0px 510px;
        border-top: 2px solid #5c72a0;
        line-height: 60px;
       
        font-weight: 700;
        text-align: center;
    }
    a {
        text-decoration: none;
    }
    p {
        padding: 10px;
        border-collapse: collapse;
        text-indent: 2em;
    }
    .gray {
        color: #888;
        font-size: 12px;
        text-align: center;
    }
    .search {
        color: #5c72a0;
    
        width: 170px;  
    }
    .btn {
        font-weight: 700;
        color: #5c72a0;
        background-color: #93c8fa;
        border-color: #5c72a0;
    }
    .box02 {
        margin: 0 auto;
        float: left;
        width: 1070px;
        font-size: 16px;
        margin-left: 100px;
        padding: 10px;
        
    }
    .back {
        background-color: #93c8fa;
        border-color: #5c72a0;
        color: #5c72a0;
        width: 180px;
        font-weight: 700;
    }